/** RESET **/

*, *::before, *::after {
    box-sizing: border-box;
    }
    * {
    margin: 0;
    }
    html {
    height: 100%;
    }
    body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    }
    img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    }
    input, button, textarea, select {
    font: inherit;
    }
    p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    }
    #root, #__next {
    isolation: isolate;
    }

body {
    margin: 0;
    padding: 0;
    max-width: 37rem;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    min-height: 100vh;
    border: 1px solid red;
}

.title {
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid red;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid red;
}

.random-scheme {
    cursor: pointer;
    padding: 5px 10px;    
}

.scheme-select-container{
    padding: 10px 0;
}