/** RESET **/

*, *::before, *::after {
    box-sizing: border-box;
    }
    * {
    margin: 0;
    }
    html {
    height: 100%;
    }
    body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    }
    img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    }
    input, button, textarea, select {
    font: inherit;
    }
    p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    }
    #root, #__next {
    isolation: isolate;
    }

body {
    color: white;
    margin: 0;
    padding: 0;
    max-width: 37rem;
    font-family: 'Karla', sans-serif;
    margin: 0 auto;
    min-height: 100vh;
    background-image: linear-gradient(
        35deg,
        hsl(137deg 77% 83%) 0%,
        hsl(142deg 70% 82%) 16%,
        hsl(146deg 64% 82%) 23%,
        hsl(151deg 59% 81%) 29%,
        hsl(157deg 54% 80%) 34%,
        hsl(163deg 50% 79%) 39%,
        hsl(170deg 46% 78%) 43%,
        hsl(177deg 42% 77%) 48%,
        hsl(185deg 44% 77%) 52%,
        hsl(191deg 48% 77%) 57%,
        hsl(196deg 52% 78%) 61%,
        hsl(201deg 57% 78%) 66%,
        hsl(205deg 61% 78%) 71%,
        hsl(209deg 66% 78%) 77%,
        hsl(212deg 71% 79%) 84%,
        hsl(214deg 76% 79%) 100%
    );
    }

.title {
    text-align: center;
    padding: 5px;
    font-size: 30px;
    font-weight: 900;
    line-height: 2;
    margin-top: 2rem;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
}

#color-picker {
    width: 4rem;
    padding: 0;
    border: none;
    /* outline: 0.25px solid white; */
    border-color: transparent;
    outline: none;
    border-radius: 5px;
}

#colors-container {
    margin-top: 20px;
    box-shadow: 0px 15px 30px 0px rgba(0, 81, 171, 0.15);
}

.color-section-container {
    display: flex;
    align-items: center;
    max-width: 90%;    
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.color-section {
   width: 70%;
   padding: 40px 0;
}

#scheme-select {
    outline: none;
    background: #fff;
    border: none;
    padding: 0.5rem;
    font-size: 20px;
    color: black;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.hex-value {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#message {
    /* display: none; */
    text-align: center;
    margin-top: 5px;
}

.info-message {
    text-align: center;
    padding: 30px 10px;
}

.info-highlight {
    color: #191B3D;
    background: white;
    padding: 0.1rem 0.2rem;
}

.random-scheme {
    color: white;
    background-color: #191B3D;
    border: none;
    font-weight: 400;
    font-size: 18px;
    padding: 0.5rem;
}

@media(min-width: 37.5rem) {
    #colors-container {
        display: flex;
        justify-content: center;
        /* border: 1px solid red; */
        max-width: 50rem;
    }
    .color-section-container {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
    }
    
    .color-section {
       width: 100%;
       height: 20rem;
       padding: 50%
    }

    .title{
        font-size: 40px;
    }
}
